<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/suap-logo.png" type="image/x-icon">
    <title>{% block title %} site {% endblock  %}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    {% block css %}
        
    {% endblock  %}
</head>
<body>
    {% block conteudo %} 
    
    {% endblock  %}
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>