{% extends 'base.html' %}

{% block title %}
    Criar
{% endblock  %}

{% block css %}
    <style>
        body {
            background-color: #5b95cc;
        }

        .container {
            background-color: #fff;
        }
    </style>
{% endblock  %}

{% block conteudo %}
    <div class="container mt-5 p-3 border rounded">
        <h1 class="text-center">Criar {{ formname }}</h1>
        <hr>
        <div class="container py-3">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if field.type != "HiddenField" and field.type != "SubmitField" and field.type != "CSRFTokenField" %}
                        <div class="form-group">
                            {{ field.label(class="form-control-label") }}
                            {{ field(class="form-control") }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group mt-3">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>
        </div>
        <hr>
    </div>
{% endblock  %}