{% extends 'base.html' %}

{% block title %}
    Users
{% endblock  %}

{% block css %}
    <style>
        body {
            background-color: #5b95cc;
        }

        .container {
            background-color: #fff;
        }
    </style>
{% endblock  %}

{% block conteudo %}
    <div class="container mt-5 p-3 border rounded">
        <h1 class="text-center">Usuarios</h1>
        <hr>
        <div class="container py-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nome de usuario</th>
                        <th>Email</th>
                        <th>Endereco</th>
                        <th>Site</th>
                        <th>Companhia</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in usersList %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.adress }}</td>
                            <td>{{ user.website }}</td>
                            <td>{{ user.company }}</td>
                            <td><a class="btn btn-success" href="{{ url_for('updateUser', user_id = user.id)}}"">Editar</a></td>
                            <td><a class="btn btn-danger" href="{{ url_for('deleteUser', user_id = user.id)}}">Deletar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center mt-3 gap-3">
                <a class="btn btn-primary mt-3" href="{{ url_for('createUser')}}">Criar usuario</a>
                <a class="btn btn-info mt-3" href="{{ url_for('index')}}">Voltar</a>
            </div>
        </div>
        <hr>
    </div>
{% endblock  %}